@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cabin:wght@500;600;700&family=Courgette&family=Lora:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }